@import url("variables.css");
@import url("global.css");
@import url("header.css");
@import url("footer.css");
@import url("components.css");
@import url("posts.css");
@import url("auth.css");
@import url("admin.css");
@import url("waste.css");
@import url('profile.css');
